name: Build and Publish Storybook to GitHub Pages

on:
  push:
    branches: [ 'main' ]

permissions:
  contents: read
  pages: write
  id-token: write
  
jobs:
  deploy-storybook:
    uses: darrylmorton/ct-continuous-workflows/.github/workflows/storybook-github-pages-publish.yml@feature/storybook-deploy-workflow
    with:
      nodejs-version: '22.x'
  