name: Build and Publish Storybook to GitHub Pages

on:
  push:
    branches: [ 'main' ]

jobs:
  deploy-storybook:
    runs-on: ubuntu-latest
    uses: actions/checkout@v4

    steps:
      - uses: darrylmorton/storybook-github-pages-publish@feature/storybook-deploy-workflow
        with:
          nodejs-version: '22'
  